@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.new-arrivals {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
  
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 768px) {

}
    
@media (min-width: 1600px) {

}
    