.new-arrivals {
    background-color: #F8F3F4;
    min-height: 148px;
} 

.new-arrivals  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
}

.new-arrivals h1 {
    margin: 24px 0 32px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #F16D7F;
}

.new-arrivals nav a, 
.new-arrivals nav span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new-arrivals nav span {
    margin: 0 3px;
}

.new-arrivals nav a {
    text-decoration: none;
}

.new-arrivals nav a:last-of-type {
    font-weight: 400;
    color: #F16D7F;
}

.filters {
    margin-top: 24px;
    margin-bottom: 32px;
}

.filters .container {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.filters-left {
    position: relative;
}

.filters-left:hover span,
.filters-left:hover .filter-icon {
    left: 16px;
    top: 13px;
    color: #EF5B70;
}

.filters-left .filter-icon {
    width: 37px;
    height: 25px;
    position: relative;
    z-index: 2;
}

.filters-left span {
    display: none;
    position: relative;
    z-index: 2;
}

.filters-right {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #6f6e6e;
}

.filters-right img {
    bottom: 1px;
    margin-left: 9px;
}

.filters-right > div {
    margin-left: 15px;
}

.filters-left:hover .filter-menu, 
.filter-size:hover .filter-sizes  {
    display: block;
}

.category-list {
    display: none;
}

.filter-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 46px 16px 16px 16px;
    z-index: 1;
    overflow-y: auto;
}

.filter-category:hover .category-list {
    display: block;
}

.filter-category-title {
    font-size: 14px;
    line-height: 37px;
    color: #ef5b70;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.filter-category-title:before {
    content: "";
    width: 5px;
    min-height: inherit;
    background: #ef5b70;
    position: absolute;
    left: 0;
    top: 1px;
}

.filter-category:not(:last-child) {
    margin-bottom: 24px;
}

.filter-category a {
    display: block;
    text-decoration: none;
    padding-left: 34px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}

.filter-category a:not(:last-child) {
    margin-bottom: 11px;
}

.size-wrap {
    cursor: pointer;
}

.filter-size {
    position: relative;
}

.filter-sizes {
    display: none;
    position: absolute;
    left: 0;
    top: 25px;
    width: 79px;
    height: 103px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6f6e6e;
}

.filter-sizes > div:not(:last-child) {
    margin-bottom: 4px;
}

.features {
	padding-top: 0;
}

.pagination {
    width: 284px;
    height: 44px;
    left: 644px;
    top: 2207px;
    border: 2px solid #EBEBEB;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 32px;
    padding: 11px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

.pagination a:hover {
    color: #f16d7f;
}



@media (min-width: 768px) {
    .new-arrivals  .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
    }  

    .filters .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .filters-left .filter-icon {
        width: 15px;
        height: 10px;
        margin-left: 11px;
    }

    .filters-left span {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

} 

@media (min-width: 1600px) {
    .new-arrivals  .container {
        padding: 0;
    }
    
    .filters {
        margin-top: 51px;
        margin-bottom: 64px;
    }
    
    .filters .container {
        justify-content: flex-start;
    }
    
    .filters-right {
        font-size: 14px;
        line-height: 17px;
        margin-left: 320px;
    }
    
    .filters-right > div {
        margin-left: 24px;
    }
    
    .pagination {
        margin-top: 48px;
        margin-bottom: 64px;
    }
}
    