.b-features {
	padding-left: 8px;
	padding-right: 8px;
    padding-bottom: 64px;
    
    @media (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
    }

    .b-features__header {
        text-align: center;
        color: #222222;
        margin-bottom: 3.3px;
        font-size: 30px;
        line-height: 36px;
    }

    .b-features_text {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        margin-bottom: 64px;
    }

    .b-features__container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;
        
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 18px;
            column-gap: 16px;
        }

        @media (min-width: 1600px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .featureItem {
            background-color: #F8F8F8;
        }

        .featureItem:hover .itemImgDark {
            display: flex;
        }

        .itemImgDark {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(58, 56, 56, 0.86);
            display: none;
            justify-content: center;
            align-items: center;
        }

        .itemImgDark button {
            background: none;
            border: 1px solid #fff;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 10px 14px;
            font-size: 14px;
        }

        .itemImgDark button img {
            width: 26px;
            height: 24px;
            margin-right: 11px;
        }

        .featureItem img {
            width: 100%;
            display: block;
        }

        .itemImgWrap {
            position: relative;
        }

        .itemName {
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 23px;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }

        .itemText {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 12px;
            margin-bottom: 18px;
        }

        .itemPrice {
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 24px;
        }
    }

    .b-features__button {
        border: 1px solid #ff6a6a;
        margin-top: 40px;
        padding: 15px 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background: none;
        color: #f26376;
        font-family: inherit;
        font-size: 16px;
        line-height: 19px;
    }

    .b-features__button:hover {
        color: #fff;
        background: #FF6A6A;
    }
}