.b-subscribe {
    background: url(images/subscribe.jpg) no-repeat;
    background-size: cover;
    padding-top: 64px;
	padding-bottom: 109px;

	@media (min-width: 1600px) {
		padding-top: 97px;
		padding-bottom: 126px;

		.container {
			margin: 0 auto;
			padding: 0;
			width: 1140px;
			display: flex;
			justify-content: space-around;
		}	
	}
	
	
	&__userInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__userInfoText {
		margin-top: 30px;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
		color: #222224;
		max-width: 330px;
	}

	
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 65px;

		.formTitle {
			font-weight: 700;
			font-size: 24px;
			color: #222224;
		}
		
		.formTitle,
		.formText {
			max-width: 271px;
			text-align: center;
		}
		
		.formText {
			font-size: 14px;
			color: #222224;
			margin-bottom: 22px;
		}
		
		.formEmail {
			height: 47px;

			&__input {
				height: inherit;
				background: #e1e1e1;
				border: none;
				padding: 6px 21px;
				box-sizing: border-box;
				border-top-left-radius: 28px;
				border-bottom-left-radius: 28px;
				float: left;
				width: 245px;
			}

			&__input::-webkit-input-placeholder {
				color: #222224;
				font-family: inherit;
				opacity: 0.67;
			}
			&__input::-moz-placeholder {
				color: #222224;
				font-family: inherit;
				opacity: 0.67;
			}
			&__input:-ms-input-placeholder {
				color: #222224;
				font-family: inherit;
				opacity: 0.67;
			}
			&__input:-moz-placeholder {
				color: #222224;
				font-family: inherit;
				opacity: 0.67;
			}
			
			&__btn {
				height: inherit;
				border: none;
				color: white;
				font-family: inherit;
				font-size: 14px;
				line-height: 17px;
				background: #f16d7f;
				border-top-right-radius: 28px;
				border-bottom-right-radius: 28px;
				padding: 0 17px;
			}
		}
	}
}